body {
  margin: 0;
  padding: 0;
  background-color: $color_gray_l;
}

ul,
li {
  display: block;
  list-style: none;
}

a {
  font-family: $font1;
}

.container {
  padding: 0 !important;

  @include breakpoint($xl_screen) {
    max-width: 1310px !important;
  }

  @include breakpoint($lg_screen) {
    max-width: 100% !important;
    padding: 0 !important;
  }

  @include breakpoint($md_screen) {
    max-width: 100% !important;
    padding: 0 !important;
  }

  @include breakpoint($xs_screen) {
    max-width: 100% !important;
    padding: 0 !important;
  }
}
