.navbar {
  background-color: $color_red;
  padding: 10px 20px !important;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;

  .logo {
    height: 30px;
    @include breakpoint($xl_screen) {
      height: 60px;
    }
  }

  .navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_gray;
  }

  .login {
    color: $color_white;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    @include breakpoint($md_screen) {
      display: none;
    }
  }

  .user {
    color: $color_gray_l;
    @include breakpoint($ol_screen) {
      display: none;
    }
  }

  .links {
    @include breakpoint($xl_screen) {
      display: flex;
      margin-bottom: -40px;
    }
  }

  .date {
    display: none;
    position: relative;

    span {
      color: $color_white;
    }
    @include breakpoint($xl_screen) {
      display: flex;
      margin-bottom: -40px;
    }
  }

  .subscribe-container {
    color: $color_black;
    background-color: $color_yellow;
    padding: 3px 12px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

    i {
      font-size: 10px;
      margin-left: 5px;
    }
  }
  @include breakpoint($xl_screen) {
    display: flex;
    justify-content: space-between !important;
  }
}

.header-top {
  @include breakpoint($lg_screen) {
      display: none;
  }
  @include breakpoint($md_screen) {
      display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
    padding-right: 100px;
  }

  li {
    border-left: solid $color_gray 1px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    a {
      color: $color_black;
      padding: 0 10px;
      font-size: 19px;
      font-weight: 800;

      &:hover{
        text-decoration: none;
        color: $color_red;
      }
    }

    input {
      border: 0;
    }
  }

  li:first-child {
    border: 0;
  }

  .search {
    display: flex;
    position: relative;
    border-right: 0;
    input {
      width: 70px;
    }
    i {
      position: absolute;
      top: 6px;
      right: 0;
    }
  }
}

.header-bottom {
  @include breakpoint($lg_screen) {
      display: none;
  }
  @include breakpoint($md_screen) {
      display: none;
  }
  ul {
    margin: 0;
    padding: 10px 20px;
  }

  li {
    color: $color_gray;
    margin-right: 20px;
    padding-left: 0;
    a {
      color: $color_gray;
      text-transform: uppercase;
      font-weight: 600;

      &:hover{
        text-decoration: none;
        color: $color_red;
      }
    }
  }
}
