.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
.sass-cache/
node_modules/
HISTORY.txt
README.txt

.prettierrc.json
sass.sh
package.json
package-lock.json