.editor_picks {
  border-bottom: 1px solid $color_gray_1;
  // border: 1px solid red;
  .header {
    justify-content: center;
    border-bottom: 1px solid $color_gray_1;
    align-items: center;

    > div {
      align-items: center;

      img {
        height: 28px;
      }

      h2 {
        margin-left: 10px;
        font-family: $font1;
        font-size: 20px;
      }
    }

    .icon {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      background: url("https://g.newsweek.com/www/images/logo-n1.svg") #f72210;
    }
  }

  .picks-container {
    .article-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .article-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .catagory {
          position: absolute;
          bottom: 0;
          background: $color_white;
          color: $color_red;
          font-size: 17px;
          font-weight: 700;
          padding: 8px 15px 9px;
        }

        a {
          display: block;
        }

        img {
          width: 100%;
        }
      }

      h5 {
        margin: 7px 0;

        .title-link {
          color: $color_black;
          font-size: 20px;
        }
      }

      p {
        font-size: 1em;
        font-family: $font2;
      }
    }
  }
}
