.featured-stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font1;
  // padding: 0 10px;
  box-sizing: border-box;

  // border: 1px solid red;
  h6 {
    color: $color_gray;
    font-size: 16px;
    text-transform: uppercase;
  }

  .article-container {
    .article-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .article-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .catagory {
          position: absolute;
          bottom: 0;
          background: $color_white;
          color: $color_red;
          font-size: 17px;
          font-weight: 700;
          padding: 8px 15px 9px;
        }

        a {
          display: block;
        }

        img {
          width: 100%;
        }
      }

      .article-item-link a {
        color: $color_black;
        font-size: 24px;
      }

      h5 {
        margin: 7px 0;

        .title-link-1 {
          color: $color_black;
          font-size: 24px;
        }
      }

      p {
        font-family: $font2;
      }
    }
  }
}
