.subscribe-sec {
  font-family: $font1;
  border-bottom: solid 1px $color_gray;

  h5 {
    font-size: 16px;
    padding-bottom: 11px;
    color: $color_red;
    text-transform: uppercase;
  }

  h3 {
    font-size: 24px;
    padding-bottom: 15px;
  }

  p {
    font-size: 15px;
    font-family: helvetica, sans-serif;
  }

  button {
    font-family: $font1;
    color: $color_white;
    background: $color_red;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    border: 0;
    line-height: 1;
    cursor: pointer;
  }

  .subscribe {
    position: relative;
    height: 320px;
    background: $color_gray_l;

    @include breakpoint($md_screen) {
      flex-direction: column;
      height: 450px;
    }

    @include breakpoint ($sm_screen) {
      flex-direction: column;
      height: 600px;
    }

    .left {
      position: relative;
      display: block;
      width: 65%;

      .first {
        position: absolute;
        top: -120px;

        @include breakpoint ($md_screen) {
          top: -35px;
        }

        @include breakpoint ($sm_screen) {
          left: -35px;
        }
      }

      .second {
        position: absolute;
        top: -100px;
        left: 80px;

        @include breakpoint ($md_screen) {
          top: -20px;
          left: 30px;
        }

        @include breakpoint ($sm_screen) {
          left: -10px;
        }
      }
    }

    .right {
      @include breakpoint($ol_screen) {
        padding-left: 120px;
      }

      @include breakpoint($md_screen) {
        padding-top: 210px;
      }
    }
  }

  .newsletter {
    @include breakpoint($ol_screen) {
      height: 320px;
    }

    overflow: hidden;
    border: solid 1px $color_gray_l;

    .cover {
      background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5");
      // width: 150%;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;

      @include breakpoint($md_screen) {
        height: 170px;
      }
    }

    h3,
    input,
    p {
      margin-bottom: 15px;
    }

    button,
    input {
      width: 100%;
      height: 35px;
    }

    @include breakpoint($md_screen) {
      flex-direction: column;
    }

    @include breakpoint($sm_screen) {
      justify-content: center;
    }
  }
}
