$color_red: #f72210;
$color_yellow: #ffe400;
$color_blue: #186dff;
$color_white: #fff;
$color_gray: #9a9a9a;
$color_gray_1: #cecece;
$color_gray_l: #f4f5f6;
$color_black: rgb(0, 0, 0);

$ol_screen: "(min-width: 768px)";
$xl_screen: "(min-width: 992px)";
$lg_screen: "(min-width: 768px) and (max-width: 991px)";
$md_screen: "(max-width: 767px)";
$mid_screen: "(min-width: 480px) and (max-width: 767px)";
$sm_screen: "(max-width: 576px)";
$xs_screen: "(max-width: 480px)";
$font1: "Roboto Condensed",sans-serif;
$font2: arial, helvetica, sans-serif;
